<div class="container" id="basicInfoForm">
    <div class="signup-container">
      <h2 class="signup-title">Basic Information</h2>
      <form>
        <p class="message"></p>
        <!-- First Name -->
        <div class="mb-3">
          <label for="firstName" class="form-label">Full Name</label>
          <input type="text" class="form-control" id="firstName" placeholder="Enter your Firstname"/>
        </div>
        <!-- Last Name -->
        <div class="mb-3">
          <label for="lastName" class="form-label">Last Name</label>
          <input type="text" class="form-control" id="lastName" placeholder="Enter Lastname"/>
        </div>

        <!-- Email -->
        <div class="mb-3">
          <label for="email" class="form-label">Email address</label>
          <input type="email" class="form-control" id="email" placeholder="Enter your email"/>
        </div>
        <!-- Email -->
        <div class="mb-3">
          <label for="phonenumber" class="form-label">Phonenumber</label>
          <input type="phonenumber" class="form-control" id="phonenumber" placeholder="Enter your Phonenumber"/>
        </div>

        <!-- Password -->
        <!-- <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" id="password" placeholder="Enter your password"/>
        </div> -->

        <!-- Confirm Password -->
        <!-- <div class="mb-3">
          <label for="confirmPassword" class="form-label">Confirm Password</label>
          <input type="password" class="form-control" id="confirmPassword" placeholder="Re-enter your password"/>
        </div> -->

        <!-- Submit Button -->
        <div class="d-grid">
          <button id="basicButton" type="button" class="btn btn-signup">Continue</button>
        </div>
        
        <!-- Sign-in Link -->
        <!-- <p class="form-text mt-3">Already have an account? <a href="#">Sign in here</a></p> -->
      </form>
    </div>
  </div>
  