
  <div class="container" id="otherDetails">
    <div class="signup-container">
      <h2 class="signup-title">Other Details</h2>
      <form>
        <p class="message"></p>
     
        <!-- Last Name -->
        <div class="form-group">
          <label for="selectOption">Purpose of Visit</label>
          <select class="form-control" id="purposeOfVisit">
            <option value="">Select Purpose</option>
            <option value="Mike">Formal</option>
            <option value="James">Informal</option>
          </select>
        </div>

        <!-- Email -->
        <div class="form-group">
          <label for="selectOption">Who Are You Visiting</label>
          <select class="form-control" id="visitingWhom">
            <option value="">Select a Person</option>
            <option value="Mike">Mike</option>
            <option value="James">James</option>
            <option value="Kathrine">Kathrine</option>
          </select>
        </div>
        <br/>
        <!-- Submit Button -->
        <div class="d-grid">
          <button id="goToBiometric" type="button" class="btn btn-signup">Proceed To Bio-Metric</button>
        </div>
    
      </form>
    </div>
  </div>




